<h2 id="title">ember-upup</h2>

{{#link-to 'uk'}}Tomster London{{/link-to}} &nbsp;|&nbsp;
{{#link-to 'munich'}}Tomster Munich{{/link-to}} &nbsp;|&nbsp;
{{#link-to 'seattle'}}Tomster Seattle{{/link-to}} &nbsp;|&nbsp;
{{#link-to 'houston'}}Tomster Houston{{/link-to}} &nbsp;|&nbsp;
{{#link-to 'philly'}}Tomster Philly{{/link-to}}
<hr>
{{outlet}}

<p>
  &nbsp;
</p>
{{#if browserSupport}}
  this browser <span class="text-success">DOES</span> support service workers
{{else}}
  this browser <span class="text-danger">DOES NOT</span> support service workers
{{/if}}
